.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
main{
	margin-top: 70px;
	padding: 80px;
}
#intro{
	width: 60%;
	text-align: center;
	margin: auto;
	margin-bottom: 40px;	
}
#intro h1{
	margin-bottom: 20px;
	font-size: 3em;
}
#intro p{
	font-size: 20px;
}
#intro a{
	text-decoration: none;
	padding: 15px 30px;
	background-color: #D32F2F;
	color: #FFF;
	margin: auto;
	margin-top: 40px;
	display: block;
	width: 200px;
}
#intro a:hover{
	background-color: #C62828;
}
.member{
	width: 23%;
	float: left;
	margin: auto 10px;
}
.member-name{
	margin: 20px auto;
	display: block;
	text-align: center;
}
.member-photo{
	width: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;
}
.member-description{
	padding: 0 5px;
	text-align: center;
}