* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #1c1e1f;
}

#title{
    margin-left: 10px;
}

body{
    height: 100%;
}



.h_img{
    font-family: 'Permanent Marker', cursive;
    position: relative;
    width: 100%;
    height: 250px;
    background: url(../bilder/kof.jpg) no-repeat fixed;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    margin-top: 70px;
    color: white;
    font-size: 2.5em;
}

.txt_0{
    grid-row: 2;
    padding-top: 50px;
    text-align: center;
    
}



.main-text {
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px 0px #000000;
}


.firsto{
    background-color: #0008; 
    border-bottom: 1px solid red;
    padding: 15px; 
    margin-bottom: 60px; 
    width: 100%
}


.cont_a{
    width: 90%;
    margin: 0 auto;
    background-color: #0008; 
    display: grid;
    grid-template-columns: 75% 25%;
}

.contacto{
    grid-column: 1;
    margin: 0;
    padding: 0;
}

.cont_flex{
    display: inline-flex;
    flex-flow: row wrap;
    color: white;
    font-size: 1.2em;
    justify-content: space-between;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.cont_flex div{
    padding: 30px;
    margin-top: 55px;
}

.cont_flex > div:hover{
    font-size: 1.3em;
    border: 1px solid red;
    border-radius: 20px
}

#map {

    width: 400px;
    height: 300px;
    grid-column: 2;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}


.sub_body{
    width: 70%;
}



.first-article{
    width: 100%
}



.firsto:hover{
    font-size: 1.5em;
    color: red;
    
}


.cont_icon{
    display: block; 
    padding-bottom:30px; 
    padding-right:15px;
}

.sendHead{
    width: 100%; 
    background-color: #0008; 
    margin-top: 80px; 
    margin-bottom: -50px;
}


.sendo{
    color: lightblue; 
    font-size: 2.5em; 
    padding: 70px; 
    font-weight: bold; 
    margin:0 auto;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.btn:hover {
    transform: translateY(-1px);
    cursor: pointer;
}

#a_btn{
    display: block;
    
}

._msg{
    width: 100%; 
    background-color: #0009;
    margin-bottom: 50px;
    padding: 10px;
    margin-top: 50px;
}



._msg h3{
    color: white;
    padding-left: 20px;
    padding-bottom: 5px;
}

.mata{
    font-size: 2em;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 40px
}

._msg textarea{
    margin-left: 10px;
    margin-bottom: 30px;
    
}


.btn{
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 15px;
    padding: 7px 100px;
    padding-right: 100px;
    width: 5em;
    background-color: #4B2821;
    border: 1px solid darkred;
    border-radius: 1px;
    width: 660px;
    font-family: 'Righteous', cursive;
    
    color: white;
    overflow: hidden;
}

.btns{
    position: relative;
    display: block;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    margin: 30px 0;
    padding:20px 50px 20px 50px;
    border: 2px solid darkblue;
    overflow: hidden;
    width:500px;
    
}

.btns::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkblue;
    height: 0;
    width: 0;
    z-index: -1;
    transition: 0.7s all ease;
}




.first-article p{
    color: white;
    padding: 20px;
    font-weight: bold;
    display: table-cell;    
}

main strong {
  text-decoration: underline;
}
main {
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  display: flex;
  min-height: 100%;

}

main ul {
  color: white;
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 2px 0px #000000;
  font-size: 0.6em;
  padding-left: 2em;
  padding-top: 2em;
  font-size: 1.2em;
  margin: 0 auto;
}

main ul li {
  list-style-image: none;
  padding-top: 5px;
  margin-bottom: 10px;
}

.shop-btn {
  margin-bottom: 1.4em;
  display: flex;
  border: solid 4px rgb(255, 255, 255);
  width: 200px;
  height: 100px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.212);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.5);
}





.txt_2{
    display: none;
}


.background {
  margin-top: 1px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  position: static;
  background-color: rgb(223, 223, 223);
  width: 100%;
  min-height: 250px;
  -webkit-box-shadow: 0px -1px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -1px 2px 1px rgba(0, 0, 0, 0.5);
}

.customer-reviews {
  color: black;
  font-family: "lato", sans-serif;
  position: relative;
}

#mails {
  color: lightblue;
  text-decoration: underline;
}


/* Mobile ---   Puntos    ---------------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------- */


@media (max-width: 580px) {
  .main-text {
    font-size: 1.5em;
  }
  main ul li {
    font-size: 0.7em;
  }
  main ul {
    margin-left: 0;
    margin-bottom: 0.5em;
  }

  .firsto{
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  
} 


#index-footer { /*Använd ej, är bara till för index */
  position: relative;
}




/* Mobile --------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------- */

@media only screen and (max-width: 400px) {
    
 
    
    .main{
        margin-left: 0px;
        margin-right: 5px
    }
    
    .txt_1{ display: none        
    }

    .firsto{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    
    ._msg{
        margin-top: 0px;
    }
    .sub_body{
        width: 100%;
        margin-bottom: 0px
    }
}


/* Tab --------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------- */

@media only screen and (max-width: 800px) {
    
    .h_img{
        display: none;
    }
    
    .txt_2{
    display: block;
    }
    
    .txt_1{
        display: none;
    }
     .sub_body{
        width: 100%;
    }
    
    .firsto{
        margin-top: 70px;
    }
    
    .btn{
        width: 345px;
    }
    
    .cont_a{
    grid-template-rows: 75% 25%;
    }
    
    .contacto{
        grid-row: 1;}
    
    #map {
        display: block;
        width: 350px;
        height: 300px;
        grid-column: 1;
        grid-row: 2;
    
    }
    .cont_flex div{
    padding: 10px;
    margin-top: 20px;
}

}