@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');
@import "footer.css";
@import "header.css";

footer {
    position: relative;
}

/* Baseline text-modification */

html {
    font-family: "lato", sans-serif;
    color: white;
}

body {
    background: #1c1e1f;
}

h2 {
    font-size: 3.3rem;
    line-height: 5.3rem;
}

h3 {
    font-size: 2.6rem;
    line-height: 4.3rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.9rem;
}

a {
    text-decoration: none;
    color: white;
}



.main {
    /* Grid styles */
    display: grid;
    grid-gap: 1rem;
}

/* Hero-banner */

.hero {
    /* Background and stuff */
    background: url(../bilder/michal-parzuchowski-ItaV89TNkks-unsplash-red.png) center;
    background-size: cover;
    padding: 6rem 4rem;
    margin-top: 0.1rem;
    -webkit-box-shadow: 0px 1px 0px 0px rgb(255, 60, 60);
    box-shadow: 0px 1px 0px 0px rgb(255, 60, 60);
    /* Grid styles */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    /* Text-stuff */
    font-size: 4.2rem;
    line-height: 6.6rem;
    font-weight: bold;
    text-align: center;
}

/* Shop-section with products */

.shop {
    position: relative;
    padding: 2rem 2rem;
    /* Grid styles */
    display: grid;
    grid-column: 2 / span 12;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 2rem;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
}

.shop__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 800;
    padding: 4rem 2rem 1rem 2rem;
}

.product:hover {
    transform: translateY(-7px);
}

.product {
    grid-column-end: span 1;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease 0s;
}

.product__image-container {
    width: 100%;
    height: 360px;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.product__image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product__content {
    padding: 10px;
}

.product__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.4rem;
}

.product__info {
    display: flex;
    align-self: end;
    align-items: center;
}

.product__price {
    margin-left: auto;
    padding: 10px 25px;
    background-color: darkgoldenrod;
    border-radius: 5px;
}

/* Button-stuff */

.button {
    margin-left: 2rem;
    float: right;
}
.button:hover {
    transform: scale(1.2);
}

/* CSS Modal popup stuff */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.overlay .light {
    background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 75px auto;
    padding: 20px;
    background: #1c1e1f;
    border: 1px solid #666;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 50vw;
    display: flex;
    justify-content: space-evenly;
}


.light .popup {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.brew-info {
    overflow: auto;
    margin: 0 0 1em;
    flex-wrap: wrap;
    padding: 1rem;
}

p:last-child {
    margin: 0;
}

/* Specific text modifiers */

.nanum-script {
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 600;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: 0.7rem;
}

.text--medium {
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: 200;
    color: azure;
}

.text--uppercase {
    text-transform: uppercase;
}

.hero-text {
    font-size: 1.8rem;
    line-height: 3rem;
}


/* Media queries */

@media screen and (max-width: 1200px) {
    .popup {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .brew-info {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .smallpic {
        max-width: 30vw;
        max-height: 40vh;
    }
}
